@model QuickFrame.Security.Areas.Security.Models.RoleListModel
@{
	Layout = "_PopupLayout";
}
<form asp-action="@Model.Action" asp-controller="@Model.Controller" asp-area="@Model.Area">
	<div class="col-md-6">
		<label for="RoleId"></label>
		<div>
	<select asp-for="RoleId"
			data-url="@Url.Action("GetRoles", "Roles", new { area="Security", filter = Model.Filter })"
			data-id="id"
			data-text="name"></select>
		</div>
	</div>
	<div class="col-md-6">
		@Html.Partial("FormButtons")
	</div>
</form>