@model IEnumerable<SiteRuleIndexDto>
@{
	ViewBag.Title = "Rules";
	ViewBag.UseSearch = true;
	ViewBag.UsePaging = true;
	Layout = "_Layout";
}
@section menu {
    @Html.Partial("MainMenu")
}

@section createbutton {
    <a asp-controller="Rules" asp-action="Create" class="btn btn-sm btn-default fancybox" data-width="640px" data-height="480px" dc-after="mainCtl.reloadMe();"><i class="fa fa-plus"></i> Create a New Role</a>
}
@{
	if(Model?.Any() == true) {
		<table  class="table index table-bordered">
			<thead>
				<tr>
					<th style="width:5%"></th>
					<th style="width:5%" display-for="Priority"></th>
					<th style="width:60%" display-for="Url"></th>
					<th style="width:15%" display-for="MatchPartial"></th>
					<th style="width:15%" display-for="IsAllow"></th>
				</tr>
			</thead>
			<tbody>
				@{
					foreach(var obj in Model.OrderBy(rule => rule.Priority)) {
						<tr>
							<td style="text-align:center;">
								<div class="dropodown">
									<a href="#" class="dropdown-toggle" style="display:inline-block;width:100%;" data-toggle="dropdown"><i class="fa fa-lg fa-ellipsis-v"></i></a>
									<ul class="dropdown-menu">
										<li><a asp-controller="Rules" asp-action="Edit" asp-area="Security" asp-route-id="@obj.Id" class="fancybox"><i style="margin-right:15px;" class="fa fa-edit"></i>Edit</a></li>
										<li><a asp-controller="Rules" asp-action="ListUsers" asp-area="Security" asp-route-id="@obj.Id" class="fancybox"><i style="margin-right:15px;" class="fa fa-user"></i>List Users</a></li>
										<li><a asp-controller="Rules" asp-action="ListGroups" asp-area="Security" asp-route-id="@obj.Id" class="fancybox"><i style="margin-right:15px;" class="fa fa-group"></i>List Groups</a></li>
										<li><a asp-controller="Rules" asp-action="ListRoles" asp-area="Security" asp-route-id="@obj.Id" class="fancybox"><i style="margin-right:15px;" class="fa fa-shield"></i>List Roles</a></li>
									</ul>
								</div>							
							</td>
							<td style="width:5%" display-for="@obj.Priority"></td>
							<td style="width:60%" display-for="@obj.Url"></td>
							<td style="width:15%" display-for="@obj.MatchPartial"></td>
							<td style="width:15%" display-for="@obj.IsAllow"></td>
						</tr>
					}
				}
			</tbody>
		</table>
	}
}