@model RoleRuleIndexModel
@{
	ViewBag.Title = $"Roles in rule";
	ViewBag.UseSearch = true;
	ViewBag.UsePaging = true;
	Layout = "_Layout";
}
@section menu {
    @Html.Partial("MainMenu")
}

@section createbutton {
    <a asp-controller="Rules" asp-action="AddRoleToRule" asp-route-id="@Model.RuleId" class="btn btn-sm btn-default fancybox" data-width="640px" data-height="480px" dc-after="mainCtl.reloadMe();"><i class="fa fa-plus"></i>Add role to rule</a>
}
@{
	if(Model.RoleList.Any() == true) {
		<table class="table index table-striped table-bordered table-hover" style="border: 0;">
			<thead>
				<tr>
					<th style="width:5%;"></th>
					<th display-for="Name"></th>
				</tr>
			</thead>
			<tbody>
				@{
					foreach(var obj in Model.RoleList.OrderBy(u => u.Name)) {
						<tr>
							<td>
								<div class="dropdown">
									<a href="#" class="dropdown-toggle" style="display:inline-block;width:100%;" data-toggle="dropdown"><i class="fa fa-lg fa-ellipsis-v"></i></a>
									<ul class="dropdown-menu">
										<li><a asp-controller="Roles" asp-action="RemoveGroupFromRole" asp-route-id="@Model.RuleId" asp-route-roleId="@obj.Id" class="remove-object"><i class="fa-fw fa fa-times red"></i>Delete</a></li>
									</ul>
								</div>
							</td>
							<td display-for="@obj.Name"></td>
						</tr>
					}
				}
			</tbody>
		</table>
	}
}