@model IEnumerable<FileHeaderRuleIndexDto>
@{ 
    Layout = "_Layout";
}
@section menu {
    @Html.Partial("_Menu")
}
@section createbutton {
    <a asp-controller="FileHeaderRules" asp-action="Create" class="btn btn-sm btn-default fancybox" data-width="1024px" data-height="768px" data-after="mainCtl.reloadMe();"><i class="fa fa-plus"></i> Create a New Rule</a>
}

@{ 
    if(Model.Any()) {
        <table class="table index table-striped table-bordered table-hover" style="border:0;">
            <thead>
                <tr>
                    <th display-for="Name"></th>
                    <th display-for="Description"></th>
                    <th display-for="MimeType"></th>
                    <th display-for="MustMatchMimeType"></th>
                    <th display-for="FileExtension"></th>
                    <th display-for="MustMatchExtension"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var app in Model) {
                    <tr>
                        <td display-for="@app.Name"></td>
                        <td display-for="@app.Description"></td>
                        <td display-for="@app.MimeType"></td>
                        <td display-for="@app.MustMatchMimeType"></td>
                        <td display-for="@app.FileExtension"></td>
                        <td display-for="@app.MustMatchExtension"></td>
                    </tr>
                }
            </tbody>
        </table>

    }
}