@model IEnumerable<AttachmentIndexDto>
@{
	ViewBag.UseSearch = false;
	ViewBag.UsePaging = true;
	ViewBag.Title = "Attachments";
	Layout = "_Layout";
}
@section menu {
    @Html.Partial("MainMenu")
}

@section createbutton {
    <a asp-controller="Attachments" asp-action="Create" class="btn btn-sm btn-default fancybox" data-width="640px" data-height="480px" dc-after="mainCtl.reloadMe();"><i class="fa fa-plus"></i>Upload an attachment</a>
}

@{
	if(Model.Any()) {
		<table class="table index table-striped table-bordered table-hover" style="border: 0;">
			<thead>
				<tr>
					<th width="5%"></th>
					<th width="5%"></th>
					<th display-for="Name" style="width:25%"></th>
					<th display-for="DocumentNumber"></th>
					<th display-for="Description"></th>
				</tr>
			</thead>
			<tbody>
				@{
					foreach(var obj in Model) {
						<tr>
							<td></td>
							<td style="text-align:center;">
								<div class="dropdown">
									<a href="#" class="dropdown-toggle" style="display:inline-block;width:100%;" data-toggle="dropdown"><i class="fa fa-lg fa-ellipsis-v"></i></a>
									<ul class="dropdown-menu">
										<li><a asp-controller="Attachments" asp-action="Edit" asp-route-id="@obj.Id" asp-route-closeOnSubmit="true" class="fancybox" data-width="640px" data-height="480px"><i class="fa-fw fa fa-edit"></i>Edit</a></li>
										<li><a asp-controller="Attachments" asp-action="Delete" asp-route-id="@obj.Id" class="remove-object"><i class="fa-fw fa fa-times red"></i>Delete</a></li>
									</ul>
								</div>
							</td>
							<td display-for="@obj.Name"></td>
							<td display-for="@obj.DocumentNumber"></td>
							<td display-for="@obj.Description"></td>
						</tr>
					}
				}
			</tbody>
		</table>
	}
}